<template name="loginPage">
 <h3>Login</h3>
  <p>
   <div class="form-horizontal">
	<fieldset>
 		<div class="control-group">
	  		<div class="control-label">Username:</div>
      		<div class="controls">
        		<input type="text" id="username" />
      		</div>
 		</div>
        <div class="control-group">
	       <div class="control-label">Password:</div>
      	   <div class="controls">
              <input type="password" id="password" />
           </div>
        </div>
     </fieldset>
   </div>
   <input type="submit" value="login" class="login" />
  </p>
</template>

